version: "3"

services:
    app:
        container_name: app
        restart: always
        build: ./api
        image: salmaal/api:latest
        ports:
            - "4000:4000"
        depends_on:
            - mongo

    client:
        container_name: client
        restart: always
        build: ./client
        image: salmaal/client:latest
        ports:
            - "3007:3000"
        depends_on:
            - app

    mongo:
        container_name: mongo
        restart: always
        image: mongo
        image: salmaal/mongo:latest
        volumes:
            - ./data:/data/db
        ports:
            - "27017:27017"
